/******/
/*BASE*/
/******/

:root {
    --color_autre: #8C81E3;
    --color_clair: #B8E6FE;
    --color_blanc: white;
    --color_sombre: #453A9B;
}

/* MODE NUIT */
:root[data-theme="dark"] {  
  --color_blanc: black;/* blanc -> noir */
}

@font-face {
  font-family:Titre-Regular;
  src: 
    url('./font/Titre/Titre-Regular-2.ttf');
}

@font-face {
  font-family:Sniglet-Regular;
  src: 
    url('./font/Sniglet/Sniglet-Regular.ttf');
}

@font-face {
  font-family:Buttons-Regular;
  src: 
    url('./font/Buttons/Buttons-Regular.ttf');
}

html, body {
  height: 100%;
  margin: 0;
  padding : 0;
  overflow-x: hidden;
}

body {
  cursor: none;
  font-family: Sniglet-Regular;
  display: flex;
  flex-direction: column;
  color : var(--color_sombre);
  background-color: var(--color_blanc);
}

#cursor {
  position: fixed;
  width: 32px;
  height: 32px;
  pointer-events: none;
  z-index: 99999;
}

header {
  display: flex;
  flex-wrap: wrap;
  gap : 0;
  justify-content: space-between;
  width : vw;
  padding : 20px;
  margin : -10px -10px 0px -10px;
  font-family: Titre-Regular;
  letter-spacing: -0.12em;
  word-spacing: 0.5em;
  color : var(--color_clair);
  background-color: var(--color_sombre);
}

.logo {
  height : 75px;
  width: auto;
  color : var(--color_clair);
}



#panel {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 12px;
  background: #222;
  border-radius: 8px;
  display: none;
  gap: 10px;
  flex-direction: column;
  z-index: 500;
}

#panel label {
  color: var(--color_white);
  font-size: 12px;
}


#boutons{
  display: flex;
  flex-wrap: wrap;
  gap : 10px;
}

#theme-toggle {
  font-size: x-large;
  font-family: Buttons-Regular;
  color :inherit;
  background: none;
  border: none;
  cursor: pointer;
}

#theme-toggle:hover {
  color :var(--color_autre);
}

#toggle {
  font-size: x-large;
  font-family: Buttons-Regular;
  color :inherit;
  background: none;
  border: none;
  cursor: pointer;
}

#toggle:hover {
  color :var(--color_autre);
}


#panel {
  position: absolute;
  top: 104px;
  right: 17px;
  background: var(--color_blanc);
  border: 1px solid var(--color_clair);
  border-radius: 8px;
  display: none;
  /* gap: 10px; */
  flex-direction: column;
}

#panel label {
  padding: 10px;
  text-decoration: none;
  color: var(--color_sombre);
  font-size: medium;
}

#reset {
  padding: 10px;
  text-decoration: none;
  color: var(--color_sombre);
  font-size: medium;
  background-color : var(--color_clair);
  border: none;
  cursor: pointer;
}

#menu {
  position: absolute;
  top: 104px;
  right: 17px;
  background: var(--color_blanc);
  border: 1px solid var(--color_clair);
  border-radius: 8px;
  display: none;
  flex-direction: column;
}

#menu.active {
  display: flex;
}

#menu a {
  padding: 10px;
  text-decoration: none;
  color: var(--color_sombre);
  font-size: medium;
}

#menu a:hover {
  color : var(--color_autre);
  background : var(--color_clair);
}

#burger {
  font-size: x-large;
  font-family: Buttons-Regular;
  color :inherit;
  background: none;
  border: none;
  cursor: pointer;
}

#burger:hover {
  color :var(--color_autre);
}

main {
  flex: 1;
}

p {
  margin: 0;
}

#text-prez{
  align-items: center;
  justify-content: space-between;
  margin : 0px 10px;
}

strong {
  color: var(--color_autre);
}

/*********/
/* INDEX */
/*********/

#box-frame{
  display:flex;
  flex-wrap: wrap;
  gap : 0;
  justify-content: center;
}

.box{
  display: flex;
  flex-wrap: wrap;
  gap : 0;
  align-items:center;
  margin: 0;
  padding: 0;
  width: 40vw;
}

.box-end{
  justify-content: end;
}
.box-start{
  justify-content: start;
}

.img-container {
  position: relative;
  margin : 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35vw;
  height: 35vw;
}

.img-container svg {
  width: 100%;
  display: block;
}

.img-container h2{
  font-family: Titre-Regular;
  letter-spacing: -0.12em;
  word-spacing: 0.5em; 
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color_blanc);
}

.img-container:hover h2{
  color: var(--color_sombre);
  font-size: 75px;
  opacity: 1;
  transition: color 1s ease, font-size 1s ease, opacity 1s ease;
}

.base{
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
  color:var(--color_clair);
}

.overlay {
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
  color:var(--color_sombre);
}

.overlay_2 {
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
}

.img-container:hover .overlay{
  color: var(--color_autre);
  transition: color 1s ease;
}

.img-container:hover .overlay_2{
  opacity: 0;
  transition: opacity 1s ease;
}



/*******/
/*PAGES*/
/*******/

#pdfModal{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background: rgb(var(--color_clair)/ 0.8);
  z-index: 10000;
}

.close {
  font-family: Titre-Regular;
  font-size: medium;
  letter-spacing: -0.12em;
  word-spacing: 0.5em;
  color : var(--color_sombre);
  background-color : var(--color_blanc);
  position: absolute;
  border : none;
  border-radius: 10px;
  width: 60px;
  height:20px;
  bottom: 30px;
  right: 30px;
  z-index: 10;
}

.close:hover {
  color : var(--color_autre);
}

#pdfFrame{
  width: auto;
  height: 100vh;
  border: none;
}

#galleryModal {
    display: none;
    position: fixed;
    inset: 0;
    justify-content: center;
    align-items: center;
}

#galleryModal.active {
    display: flex;
}

#gallery-content {
    position: relative;
    display: flex;
    align-items: center;
    gap: 20px;
}

#gallery-content img {
    max-width: 80vw;
    max-height: 80vh;
    border-radius: 10px;
}

/* .close {
    position: absolute;
    top: -40px;
    right: 0;
    color: white;
    font-size: 35px;
    cursor: pointer;
} */

#prev,
#next {
    width:40px;
    height:40px;
    font-size: larger;
    cursor: pointer;
    background: var(--color_blanc);
    color: var(--color_sombre);
    border: none;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}

#prev:hover ,#next:hover {
    background: var(--color_blanc);
    color: var(--color_autre);
}

.fond-modal{
  position: fixed;
  inset: 0;
  background:var(--color_clair);
  opacity: 0.8;
  z-index: -1;
}

.box-deroule {
  width : 80vw;
  padding: 10px;
  margin: 50px 0px;
  background-color : var(--color_clair);
  color : var(--color_sombre);
  border-radius: 10px;
}

.box-title {
  font-family: Titre-Regular;
  letter-spacing: -0.12em;
  word-spacing: 0.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bouton-deroule {
  color :inherit;
  background: none;
  border: none;
  cursor: pointer;
  font-family: Buttons-Regular;
}

.bouton-deroule:hover {
  color : var(--color_autre);
}

.int-box-deroule {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.int-box-deroule.open {
  max-height: 10000px;
  overflow: visible;
}

.sub-int-box {
  display :flex;
  flex-direction: column;
  justify-content : center;
  align-items: start;
  margin : 10px;
}

.sub-int-box > div{
  display :flex;
  justify-content : center;
}

.sub-int-box > p{
  margin : 0px 10px;
}

.img-sized{
  max-width: 20vw;
  max-height: 20vw;
  border-radius: 10px;
}

.open-pdf {
  font-family: Titre-Regular;
  letter-spacing: -0.12em;
  word-spacing: 0.5em;
  width: 40px;
  height:20px;
  border: none;
  border-radius: 10px;
  margin: 5px;
  color : var(--color_sombre) ;
  background-color : var(--color_blanc);
  cursor: pointer;
}

.open-pdf:hover {
  color : var(--color_autre);
}

.open-gallery {
  font-family: Titre-Regular;
  letter-spacing: -0.12em;
  word-spacing: 0.5em;
  width: 40px;
  height:20px;
  border: none;
  border-radius: 10px;
  margin: 5px;
  color : var(--color_sombre) ;
  background-color : var(--color_blanc);
  cursor: pointer;
}

.open-gallery:hover {
  color : var(--color_autre);
}

/********/
/*ANCIEN*/
/********/

/* .c-bleu-c {
  color : rgb(187 246 252);
}
.c-rose-c {
  color : rgb(250 183 215);
}
.c-bleu-s {
  color : rgb(5 103 112);
}
.c-rose-s {
  color : rgb(110 8 57);
}
.bc-bleu-c {
  background-color : rgb(187 246 252);
}
.bc-rose-c {
  background-color : rgb(250 183 215);
}
.bc-bleu-s {
  background-color : rgb(5 103 112);
}
.bc-rose-s {
  background-color : rgb(110 8 57);
}

.font-titre {
  font-family: Titre-Regular;
  letter-spacing: -0.12em;
  word-spacing: 0.5em;
}

.font {
  font-family: Sniglet-Regular;
}

.font-bouton {
  font-family: Buttons-Regular;
}

.font-sized{
  font-family: Titre-Regular;
  letter-spacing: -0.12em;
  word-spacing: 0.5em;
}

.bouton {
  color :inherit;
  background: none;
  border: none;
  cursor: pointer;
}

.chgt-color:hover {
  color : rgb(168, 118, 229);
}

.flex {
  display: flex;
  flex-wrap: wrap;
  gap : 0;
}

.gap {
  gap : 10px;
}

.bloc {
  display : block;
}

.align-start {
  align-items: start;
}

.align-end {
  align-items: end;
}

.align-center {
  align-items: center;
}

.justify-start {
  justify-content: start;
}

.justify-end {
  justify-content: end;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content : center;
}

.box-base {
  margin: 0;
  padding: 0;
  width: 40vw;
}

.box-bande {
  width : vw;
  padding : 20px;
  margin : -10px;
}

.margin-bottom-0 {
  margin-bottom: 0px;
}

.margin-top-0 {
  margin-top: 0px;
}

.margin-top-100 {
  margin-top : 100px;
}
 */


/******/
/*TEST*/
/******/

.rec_test {
  height: 30vw;
  width : 20vw;
  margin : 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color_blanc);
  background-color: var(--color_clair);
  border: 5px solid var(--color_sombre);
  border-radius: 10px;
}

.rec_test:hover {
  border: 5px solid var(--color_autre);
  color : var(--color_sombre); 
  font-size: 80;
  transition: color 1s ease, border 1s ease;
}

.rec_test:hover h2{
  transition: font-size 1s ease, opacity 1s ease;
  font-size: 75px;
  opacity: 1;
}


/**********/
/* FOOTER */
/**********/

footer{
  display: flex;
  flex-wrap: wrap;
  gap : 0;
  justify-content: center;
  align-items:center;
  width : vw;
  padding : 20px;
  margin : 50px -10px 0px -10px;
  font-family: Titre-Regular;
  letter-spacing: -0.12em;
  word-spacing: 0.5em;
  color : var(--color_clair);
  background-color: var(--color_sombre);
}

.footer-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height : 100%;
}

.sub-footer-content{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  height : 100%;
  margin: 20px 0px;
}

.links {
  width : 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap : 10px;
}

.links a {
  margin: 0 10px;
  color: inherit;
  text-decoration: none;
}

.links a:hover {
  color: var(--color_autre);
}

.copyright {
  margin-top: 10px;
  font-size: smaller;
}

/************/
/*RESPONSIVE*/
/************/

@media (max-width: 768px) {
  body {
    cursor:auto;
  }

  #cursor {
    display: none !important;
  }
  
  .box {
    width: 80vw;
    justify-content: center;
  }

  .img-container {
    width: 70vw;
    height: 70vw;
  }

  .img-sized{
    max-width: 40vw;
    max-height: 40vw;
  }

  .sub-int-box {

  }

  .sub-int-box > div{
    width: 100%;
    justify-content : center;
  }

  .sub-int-box > p{
    margin : 10px;
    text-align: center;
  }

  .sub-footer-content{

    width: 100%;
  }

  .links {
    width : 40%;
  }

}